<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="logo">Expense Tracker</div>

        <div class="nav-links">
            <a href="/"><i class="fa-solid fa-house"></i> Home</a>
            <a href="/login"><i class="fa-solid fa-user"></i> Login</a>
            <a href="/register"><i class="fa-solid fa-user-plus"></i> Sign-up</a>
        </div>
    </nav>

    <!-- CENTER BOX -->
    <div class="register-container">

        <div class="register-card">
            <h2>Create Account</h2>
            {% if message %}
                <p class="error-msg">{{ message }}</p>
            {% endif %}
            <form method="POST">
                <div class="input-group">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="username" placeholder="Username" required>
                </div>

                <div class="input-group">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" required>
                </div>

                <button class="register-btn" style="font-size: 15px; font-weight: bolder; " type="submit">Register</button>
            </form>

            <p class="login-link">
                Already have an account? <a href="/login" style="color: aliceblue;">Login</a>
            </p>
        </div>

    </div>

</body>
</html>